/* 
Filename: app.css
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
*/

/* custom css goes here */
.logo {
  width: 90;
  height: 50px;
}
.form {
  width: 100%;
}
.mail {
  width: 10%;
}
.linkedin {
  width: 3.5%;
}
.languages {
  width: 50%;
}

.contactForm {
  padding-left: 150px;
  padding-right: 350px;
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
}
.container {
  padding-top: 20px;
}
.project2 {
  padding-top: 40px;
}
.project3 {
  padding-top: 40px;
}
.placeholder-glow {
  color: rgb(16, 82, 82);
}
.navObject {
  border: white;
}
.navObject:hover {
  background-color: rgb(10, 41, 41);
}
.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
  align-content: right;
}
h2 {
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
}
h3,
h4,
h5,
h6 {
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
}

.link {
  background-color: white;
  color: white;
}
