/* 
Filename: app.css
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
*/

/* custom css goes here */

.logo {
  width: 90;
  height: 50px;
}
.form {
  width: 100%;
}
.mail {
  width: 10%;
}
.linkedin {
  width: 3.5%;
}
.languages {
  width: 50%;
}

.contactForm {
  padding-left: 150px;
  padding-right: 350px;
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
}
.container {
  padding-top: 20px;
}
.project2 {
  padding-top: 40px;
}
.project3 {
  padding-top: 40px;
}
.placeholder-glow {
  color: rgb(16, 82, 82);
}

.navObject {
  border: white;
}
.navObject:hover {
  background-color: rgb(10, 41, 41);
}
.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
  align-content: right;
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(16, 82, 82);
  font-family: "Times New Roman", Times, serif;
}

.link {
  background-color: white;
  color: white;
}

/* login page and register page css*/
.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 4xpx;
}

.input-group-addon .fa {
  font-size: 18px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.login {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: lightgrey;
  border-radius: 0.3rem;
}

.login input {
  background-color: white;
  border-color: darkgrey;
  border-radius: 0.4em;
  width: 100%;
}
