<!--
Filename: about.ejs
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
-->
<div class="container">
<div class="row">
          <div class="col">
        <h1><%= title %></h1> 
                <p class="placeholder-glow">
                        <span class="placeholder col-12"></span>
                </p>
                <h4><ul>
                        <li>Priyanka Kediya</li><p></p>
                        <li>I am Dentist with 5 years of experience from India</li><p></p>
                        <li>Currently I am pursuing Software Engineering from Centennial college</li><p></p>
                        <li>After moving to Canada, I got a chance to change my career path and it is an amazing journey</li><p></p>
                        <li>So far, I have learnt C#, JavaScript, Java, Python for beginners, Oracle SQL, HTML & CSS, Linux, MongoDB, Express and NodeJs languages</li><p></p>
                        
                        
                </ul></h4>
</div>
                <div class="col-6">
                <img src="/Assets/images/profile.jpeg"> 
          </div>
        </div>
        <!--Resume Link-->

<button class="navObject">
              <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(63, 151, 141);" >
                <div class="container-fluid">                  
                        
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                      <li class="nav-item">
                        <a class="nav-link active" href = "/Assets/Priyanka_Kediya.doc">Please find link to my resume here!</a>
                        </li>
                      </ul>
                      </div>
                      </div>
                      </nav>
                </button>

        
    </div>
    