<!--
Filename: contact.ejs
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
-->
<div class="container">
        <h1><%= title %>:     <a href="mailto:pkediya@my.centennialcollege.ca"><img class="mail" alt="email" src="/Assets/images/outlook.jpg"  ></a>           
        <a href="https://www.linkedin.com/in/dr-priyanka-kediya-11345a184/"><img class="linkedin" alt="linkedin" src="/Assets/images/linkedin.png"  ></a>
        
        </h1> 
            <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
            </p>
  <h5>
    <form class="contactForm">
        <div class="mb-1">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" aria-describedby="fname" placeholder="Enter your First name">
        </div>

        <div class="mb-1">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="fname" placeholder="Enter your last name">
        </div>

         <div class="mb-1">
            <label class="form-label">Contact </label>
            <input type="number" class="form-control" id="number" aria-describedby="number" placeholder="Enter your contact">
        </div>

        <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
        </div>
       
       <div class="mb-1">
            <label class="form-label">Message</label>
            <input type="textarea" class="form-control" id="message" aria-describedby="message" placeholder="Comments">
        </div>
        <br>

        <a href="/home"><button type="button" class="btn btn-secondary" style="background-color: rgb(63, 151, 141);">Submit</button></a>
        
    </form>
  </h5>      

</div>