<!--
Filename: projects.ejs
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
-->
<div class="container">

   <h1><strong>My <%= title %></strong></h1> 
      <p class="placeholder-glow">
         <span class="placeholder col-12"></span>
      </p>

   <h2><strong>Project 1</strong></h2>
      <p class="placeholder-glow">
         <span class="placeholder col-12"></span>
      </p>
      <!--project 1 details-->
      <div class="row">
            <div class="col">
          
                  <h4>My first project is to create a Java application stimulating a test containing 5 questions with multiple choice answers using GUI.</h4>
                  <h4>This is an individual project. This application interacts with the user using JOptionPane.
                  User starts the test. A random message is generated whenever user provides correct or incorrect answer.
                  On submission, the application calculates score and final result.</h4>
            </div>
         
            <div class="col-6">
                 <img src="/Assets/images/javatest.png" class="form">
            </div>
      </div>


      <!--project 2 details-->
      <h2><strong>Project 2</strong></h2>
            <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
            </p>
      <div class="row">
          <div class="col">      
      
               <h4>My second project is to create a web page for a company to collect registration information from the user.
               And to validate the form using Regular Expression.
               Once the form fields pass validation, a confirmation message is shown to the user.</h4>
          </div>
          <div class="col-6">
               <img src="/Assets/images/form.PNG" class="form">
          </div>
      </div>


       <!--project 3 details-->   
      <h2><strong>Project 3</strong></h2>
         <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
         </p>
      <div class="row">
          <div class="col">          
                  <h4>My third project is an individual assignment about a real estate website with 5 pages.
                  The website contains information about the Home page, Contacts page, Site listings, Agent information and query form.
                  I used CSS to design the pages.  </h4>
          </div>
          <div class="col-6">
             <img src="/Assets/images/realestate.PNG" class="form">
          </div>
      </div>
</div>










