<!--
Filename: services.ejs
Name: Priyanka Kediya
Id: 301184183
Date: 10 October, 2021
-->
<div class="container">

    <h1>
        <strong> <%= title %></strong>           
    </h1> 
    <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
    </p>
        <div class="row">
          <div class="col">
                <ul>
                    <li>
                      <h4> I teach following languages to the begineers:</h4>
                        <h5><ul>
                                <li>C#</li>
                                <li>Java</li>
                                <li>Javascript</li>
                                <li>Python</li>
                                <li>Linux</li>
                                <li>HTML & CSS</li>
                                <li>Software Engineering methodologies</li>
                                <li>Oracle SQL</li>    
                            </ul>
                        </h5>
                    </li>
          </div>
                    <div class="col-6">  
                          <img src="/Assets/images/mean.png" class="languages">                  
                    </div>
                  </div>
                    <div class="row">
                      <div class="col">        
          
                     <h4> <li> I build and design websites for local businesses</li></h4>
                
                </ul>
         </div>
             <div class="col-6">
                 <img src="/Assets/images/j.png" class="languages">
             </div>
  </div>
</div>
